{{head-layout}}
{{title "Carsten Nielsen"}}

<div class="container mx-auto">
  <header class="my-6">
    <div class="clearfix">
      <h1 class="float-left">
        {{#link-to "index" class="inline-block"}}
          {{svg-jar "heycarsten-wordmark" class="block w-64 m-8"}}
        {{/link-to}}
      </h1>

      <nav class="topnav">
        <a rel="noopener" href="mailto:Carsten%20Nielsen%20%3Cheycarsten@gmail.com%3E">
          {{svg-jar "email" id="navtop-email-icon"}}

          <EmberTooltip @targetId="navtop-email-icon" @side="bottom">
            Email me
          </EmberTooltip>
        </a>

        <a rel="noopener" href="https://www.linkedin.com/in/heycarsten/">
          {{svg-jar "linkedin" id="navtop-linkedin-icon"}}

          <EmberTooltip @targetId="navtop-linkedin-icon" @side="bottom">
            LinkedIn
          </EmberTooltip>
        </a>

        <a rel="noopener" href="https://twitter.com/heycarsten">
          {{svg-jar "twitter" id="navtop-twitter-icon"}}

          <EmberTooltip @targetId="navtop-twitter-icon" @side="bottom">
            Twitter
          </EmberTooltip>
        </a>

        <a rel="noopener" href="https://github.com/heycarsten">
          {{svg-jar "github" id="navtop-github-icon"}}

          <EmberTooltip @targetId="navtop-github-icon" @side="bottom">
            GitHub
          </EmberTooltip>
        </a>

        <a rel="noopener" href="https://instagram.com/heycarsten">
          {{svg-jar "instagram" id="navtop-instagram-icon"}}

          <EmberTooltip @targetId="navtop-instagram-icon" @side="bottom">
            Instagram
          </EmberTooltip>
        </a>

        {{! dev.to - https://dev.to/heycarsten }}
        {{! medium? https://medium.com/@heycarsten }}
        {{! facebook? https://facebook.com/heycarsten }}
      </nav>
    </div>
  </header>

  <main>
    {{outlet}}
  </main>

  <footer class="my-8 text-sm text-grey-darker">
    &copy; {{model.year}} Carsten Nielsen
  </footer>
</div>
