{{head-layout}}
{{title "Carsten Nielsen"}}

<div class="container mx-auto">
  <header class="my-6">
    <div class="clearfix">
      <h1 class="float-left">
        {{#link-to "index" class="inline-block"}}
          {{svg-jar "heycarsten-wordmark" class="block w-64 m-8"}}
        {{/link-to}}
      </h1>

      <nav class="topnav">
        <SocialIcon
          @name="email"
          @tooltip="Email me"
          @href="mailto:Carsten%20Nielsen%20%3Cheycarsten@gmail.com%3E"
        />

        <SocialIcon
          @name="linkedin"
          @tooltip="LinkedIn"
          @href="https://www.linkedin.com/in/heycarsten/"
        />

        <SocialIcon
          @name="twitter"
          @tooltip="Twitter"
          @href="https://twitter.com/heycarsten"
        />

        <SocialIcon
          @name="github"
          @tooltip="GitHub"
          @href="https://github.com/heycarsten"
        />

        <SocialIcon
          @name="dev"
          @tooltip="DEV Community"
          @href="https://dev.to/heycarsten"
        />

        <SocialIcon
          @name="instagram"
          @tooltip="Instagram"
          @href="https://instagram.com/heycarsten"
        />

        {{! medium? https://medium.com/@heycarsten }}
        {{! facebook? https://facebook.com/heycarsten }}
      </nav>
    </div>
  </header>

  <main>
    {{outlet}}
  </main>

  <footer class="main-footer">
    <div class="pin-l text-grey ml-4">
      {{! template-lint-disable attribute-indentation block-indentation }}
      Made with
      <a rel="noopener" href="https://github.com/emberjs/ember.js">Ember.js</a>
      +
      <a rel="noopener" href="https://github.com/ef4/prember">Prember</a>,
      have a look on
      <a rel="noopener"
        href="https://github.com/heycarsten/personal-page"
        title="heycarsten/personal-page.git"
      >GitHub</a>&nbsp;👀
    </div>

    <div class="pin-r mr-4">
      &copy; {{model.year}} Carsten Nielsen
    </div>
  </footer>
</div>
